.about-container {
  font-family: "Arial", sans-serif;
  color: #333;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  text-align: center;
  margin-top: -350px;
}

.hero-section {
  position: relative;
  text-align: center;
}

.hero-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background:#ffff;
  color: white;
  padding: 20px;
  border-radius: 10px;
  padding: -2px;
}

.highlight {
  color: #ff9800;
}


section {
  margin: 40px 0;
}

.about1{
  color: #ff9800;
  border-bottom: 2px solid #ff9800;
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

p {
  line-height: 1.6;
}

/* Steps Styling */
.steps-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.step {
  width: 45%;
  background:#e8deec;
  padding: 20px;
  margin: 10px 0;
  border-radius: 10px;
  text-align: left;
}


.role-container {
  display: flex;
  justify-content: space-between;
}

.role {
  width: 45%;
  padding: 20px;
  background: #dce1f3;
  border-radius: 10px;
}


ul {
  list-style: none;
  padding: 0;
}

ul li {
  padding: 10px;
  background: #e8e8e800;
  margin: 5px 0;
  border-radius: 5px;
}

/* Join Us */
.join-us {
  background: #ff9800;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.cta-button {
  padding: 10px 20px;
  background: rgb(11, 10, 15);
  color: #ff9800;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.cta-button:hover {
  background: #333;
  color: white;
}
