body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.modal-content {
  background: rgba(37, 32, 32, 0.9);
  padding: 20px;
  border-radius: 10px;
  animation: fadeIn 0.6s forwards ease-out;
  max-width: 400px;
  text-align: center;
  transform: rotateX(-10deg);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  backdrop-filter: blur(10px);
  margin-top: -568px;
}

h2 {
  color: #f0eaea;
}

p {
  font-size: 14px;
  color: #dfb3e8;
}

.form-group {
  display: flex;
  align-items: center;
  background: #eee;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

.icon {
  margin-right: 10px;
  color: #0feb25;
}

input,
textarea {
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
  font-size: 14px;
}

textarea {
  resize: none;
}

.rating {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.rating__star {
  font-size: 25px;
  cursor: pointer;
  color: #ddd;
  transition: color 0.3s;
}

.rating__star.fas {
  color: gold;
}

button {
  background: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

#thank-you-message,
#error-message {
  margin-top: 15px;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

#thank-you-message {
  background: #28a745;
}

#error-message {
  background: #dc3545;
}
